.tm-autocomplete {
  .tm-search {
    color: $gray-dark;
  }

  .tm-autocomplete-results,
  .tm-search-input {
    border: 2px solid $gray-lighter;
  }

  .tm-bt-clear {
    color: black;
  }

  .tm-autocomplete-results {
    position: absolute;
    margin: auto;
    border-top: none;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    background-color: white;
    overflow: auto;
    max-height: 400px;
    z-index: $zindex-higher;

    p {
      font-size: 0.9em;
      font-weight: bold;
      color: $gray-light;
      padding: 5px 15px 2px 15px;
      margin: 0;
    }

    ul:first-child {
      margin-top: 8px;
    }

    li {
      &:hover,
      &:focus {
        color: $btn-primary-color;
      }
    }
  }
}
