@import '../../Globals.scss';

.tm-autocomplete {
  .tm-search {
    color: $tm-color-darkgrey;
  }

  .tm-list-container,
  .tm-search-input {
    border: 2px solid $tm-color-grey;
  }

  .tm-list-container {
    position: absolute;
    margin: auto;
    border-top: none;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    background-color: white;
    overflow: auto;
    max-height: 400px;

    &.tm-hidden {
      display: none;
    }

    p {
      font-size: 0.9em;
      font-weight: bold;
      color: $tm-color-lightgrey;
      padding: 5px 15px 2px 15px;
      margin: 0;
    }

    ul:first-child {
      margin-top: 8px;
    }

    li {
      &:hover,
      &:focus {
        color: $tm-color-sbb-red;
      }
    }
  }
}
