<html>
  <head>
    <title>React-spatial</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="app">
      <div id="header">
        <nav>
          <div id="brand">React Spatial</div>
          <a href="#" class="active">Components</a>
          <a href="./jsdoc/index.html">Layers</a>
          <a target="_blank" href="https://github.com/geops/react-spatial">Code</a>
        </nav>
      </div>
      <iframe ref="iframe" src="styleguide.html">
      </iframe>
    </div>
  </body>
</html>
