<html>
  <head>
    <title>react-spatial</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="app">
      <div id="header">
        <nav>
          <a id="brand" href="https://github.com/geops/react-spatial">
            react-spatial
          </a>
          <a href="#" class="active">Components</a>
          <a href="./jsdoc/index.html">Layers</a>
        </nav>
      </div>
      <iframe ref="iframe" src="styleguide.html"></iframe>
      <div id="promo">
        <a href="https://github.com/geops/react-spatial" target="_blank">
          <div id="promo-text">Fork me on GitHub</div>
        </a>
      </div>
    </div>
  </body>
</html>
