.tm-sidebar-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;

  div {
    width: 100%;
    display: flex;
    align-items: center;

    svg {
      height: 20px;
      width: 20px;
      padding: 10px;
    }
  }
}
