.tm-feature-styler-example {
  position: relative;

  .tm-ole {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 45px;

    button {
      background: #fafafa;
      border: 0;
      padding: 5px;
      width: 45px;
      height: 45px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

      &.active {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
        color: #5c5c5c;
        filter: brightness(90%);
      }
    }

    img {
      width: 35px;
      height: 35px;
    }
  }

  .tm-color-button {
    position: absolute;
    bottom: 60px;
    right: 1px;
  }

  .tm-feature-styler-popup {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    background: white;
    padding: 10px;
    width: 200px;
    overflow-y: auto;
    height: 260px;

    > .tm-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .tm-feature-styler {
    & > div > * {
      margin: 10px 0;
    }
  }

  .tm-modify-icon-size {
    margin: 20px 0;

    select {
      padding: 10px;
      background: white;
      width: 100%;
    }
  }

  .tm-modify-stroke {
    .tm-line-icon-label {
      margin-bottom: 10px;
    }

    .tm-line-icon-wrapper {
      display: flex;
    }

    .tm-line-icon-sel {
      display: flex;
      flex-direction: row;
      margin: 0 5px;
      width: 70px;
      height: 30px;
      min-height: 30px;
      border: 2px solid #b7b7b7;

      .tm-line-icon-current {
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      svg {
        width: 10px;
        height: 100%;
      }
    }

    .tm-line-icon-list {
      position: absolute;
      margin: 0 5px;
      width: 70px;
      border: 2px solid #b7b7b7;
      border-top: none;
      background-color: white;
      overflow: auto;
      max-height: 400px;
      z-index: 800;

      li {
        padding: 5px 0;
        min-height: 15px;
        display: flex;
        justify-content: center;

        &:hover {
          background-color: lightgray;
        }
      }
    }
  }

  .tm-modify-icons {
    margin: 5px 0;

    div[role='button'] {
      display: inline-block;
      padding: 2px;

      &.tm-selected {
        background-color: lightgray;
      }

      &:hover {
        background-color: gray;
      }
    }
  }
}
