.rt-active {
  border: 2px solid red;
  background-color: red;

  svg {
    path {
      fill: white;
    }
  }
}

.rt-inactive {
  border: 2px solid #eee;
  background-color: white;

  &:hover {
    background-color: #eee;

    svg {
      path {
        fill: #0f447e;
      }
    }
  }
}

.rt-control-button.rt-route-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  cursor: pointer;
  margin: 15px;
  margin-top: 10px;

  svg {
    height: 30px;
    width: 30px;
  }
}
