.tm-permalink-example {
  display: flex;
  padding: 15px 0;

  .tm-permalink-button {
    margin-left: 15px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
    }
  }
}
