.tm-button {
  cursor: pointer;
  height: $btn-size-base;
  width: $btn-size-base;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.tm-round-blue {
  background: $btn-secondary-color;
  border-radius: 50%;
  color: white;
}

.tm-square-white {
  border: 1px solid #aaa;
  background: white;
  color: #aaa;

  &.tm-active {
    background-color: $btn-secondary-color-active;
  }
}
