@import '../../Globals.scss';

.tm-button {
  cursor: pointer;
  height: $large-button-size;
  width: $large-button-size;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.tm-round-blue {
  background: $tm-color-blue;
  border-radius: 50%;
  color: white;
}

.tm-square-white {
  border: 1px solid #aaa;
  background: white;
  color: #aaa;

  &.tm-active {
    background-color: $tm-color-blue;
  }
}
