.tm-button {
  cursor: pointer;
  height: $btn-size-base;
  width: $btn-size-base;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.rs-square-white {
  border: 1px solid #aaa;
  background: white;
  color: #aaa;

  &.rs-active {
    background-color: $btn-secondary-color-active;
  }
}

.rs-round-grey-hover-primary {
  background-color: $gray-light;
  border-radius: 50%;
  color: white;

  &:hover {
    background-color: $btn-primary-color-hover;
  }
}
