.tm-button-example {
  cursor: pointer;
  color: $btn-primary-color;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  border: 3px solid $btn-primary-color;
  padding: 10px;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $gray-lighter;
  }
}
