.tm-select-links-example a {
  text-decoration: none;
  padding: 10px;
}

.tm-select-links-example .tm-selected {
  font-weight: bold;
}

.tm-select-links-example a:hover {
  text-decoration: underline;
}

.tm-select-links-example > div {
  padding: 10px;
}
