.tm-share-menu {
  display: flex;

  .tm-share-menu-icon {
    background-color: #666;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    height: 35px;
    margin: 0 10px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 35px;

    svg {
      padding-top: 3px;
    }

    &.ta-mail-icon {
      svg {
        width: 65%;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    a {
      transition: background-color 0.5s ease, color 0.5s ease;
      color: white;
    }

    &:hover {
      background-color: $btn-primary-color-hover;
      color: white;

      a {
        color: white;
      }
    }
  }
}
