.tm-share-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tm-share-menu-icon {
    background-color: #666;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    margin: 0 10px;
    text-align: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 35px;
    height: 35px;

    &:hover {
      background-color: $btn-primary-color-hover;
    }

    svg {
      padding-top: 3px;
    }

    &.ta-mail-icon {
      svg {
        width: 65%;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    a,
    a:hover {
      color: white;
    }
  }
}
