.tm-tabs-example {
  position: relative;
  height: 300px;
  width: 500px;

  .tm-tabs {
    position: absolute;
  }

  .tm-tabs ol {
    margin-top: 0px;
  }

  .tm-tabs-item-content {
    text-align: justify;
  }

  .tm-active {
    color: $brand-primary;
    border-bottom: none;
    outline: none;
  }
}
