.tm-tabs-example {
  position: relative;
  height: 300px;
  width: 500px;

  .tm-tabs {
    position: absolute;
    width: 400px;
  }

  .tm-tabs ol {
    margin-top: 0;
  }

  .tm-tabs-item-content {
    text-align: justify;
  }

  .tm-map {
    position: relative;
    height: 150px;
    width: 100%;
  }
}
