.tm-tabs-example {
  position: relative;
  height: 250px;
  width: 500px;

  .tm-tabs {
    position: absolute;
    width: 400px;
  }

  .tm-tabs-content {
    text-align: justify;
    height: 150px;

    p {
      margin: 0;
    }
  }
}
