/* Style the tab */
.tm-tabs {
  background-color: white;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc((var(--tm-vh, 1vh) * 100) - 82px);
  max-width: 300px;
}
