.rs-popup-example {
  position: relative;
  overflow: hidden;
}

.rs-w-xs .rs-popup {
  left: 0 !important;
  right: 0;
  bottom: 0;
  // stylelint-disable
  top: auto !important;
  border: 1px solid #e8e8e8;
}

.rs-w-xs .rs-popup > div {
  position: relative;
  left: 0;
  bottom: 0;
  min-width: 0;

  &::after,
  &::before {
    display: none;
  }
}
