.tm-canvas-save-button-example {
  position: relative;

  .tm-button {
    font-size: 30px;
    margin-top: 16px;

    svg {
      padding-top: 3px;
    }
  }

  .tm-map {
    overflow: hidden;
  }
}
