.tm-canvas-save-button-example {
  position: relative;

  div[role='button'] {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-top: 10px;

    svg {
      padding-top: 4px;
      width: 100%;
      height: 100%;
    }
  }
}
