.rs-zoom-example {
  position: relative;

  .rs-map {
    height: 400px;
  }

  .rs-zooms-bar {
    top: 0;
    right: 10px;
  }

  .rs-zoom-in,
  .rs-zoom-out {
    background: $btn-secondary-color;
    border-radius: 50%;
    color: white;
  }
}
