/**
* This file is loaded by the styleguide and provide additionnal css for all examples.
*/
@import './index.scss';
@import '../../components/BaseLayerSwitcher/BaseLayerSwitcher.md.scss';
@import '../../components/BaseLayerToggler/BaseLayerToggler.md.scss';
@import '../../components/BasicMap/BasicMap.md.scss';
@import '../../components/CanvasSaveButton/CanvasSaveButton.md.scss';
@import '../../components/FeatureExportButton/FeatureExportButton.md.scss';
@import '../../components/FitExtent/FitExtent.md.scss';
@import '../../components/Geolocation/Geolocation.md.scss';
@import '../../components/LayerTree/LayerTree.md.scss';
@import '../../components/MousePosition/MousePosition.md.scss';
@import '../../components/Permalink/Permalink.md.scss';
@import '../../components/Popup/Popup.md.scss';
@import '../../components/Zoom/Zoom.md.scss';
@import '../../components/RouteSchedule/RouteSchedule.md.scss';
@import '../../components/Copyright/Copyright.md.scss';
@import '../../components/Search/Search.md.scss';
@import '../../components/Overlay/Overlay.md.scss';

$link-color: #000;
$link-color-hover: #000;

// Load 'a' mixin
@include a;

a {
  font-size: 11px;
}

body {
  font-family: $font-family;
}
