/**
* This file is loaded by the styleguide and provide additionnal css for all examples.
*/
@use 'index';
@use 'variables';
@use 'mixins';
@use '../../components/BaseLayerSwitcher/BaseLayerSwitcher.md';
@use '../../components/BasicMap/BasicMap.md';
@use '../../components/CanvasSaveButton/CanvasSaveButton.md';
@use '../../components/FeatureExportButton/FeatureExportButton.md';
@use '../../components/FitExtent/FitExtent.md';
@use '../../components/Geolocation/Geolocation.md';
@use '../../components/LayerTree/LayerTree.md';
@use '../../components/MousePosition/MousePosition.md';
@use '../../components/Permalink/Permalink.md';
@use '../../components/Popup/Popup.md';
@use '../../components/Zoom/Zoom.md';
@use '../../components/RouteSchedule/RouteSchedule.md';
@use '../../components/Copyright/Copyright.md';
@use '../../components/Overlay/Overlay.md';

$link-color: #000;
$link-color-hover: #000;

/* Load 'a' mixin */
@include mixins.a();

a {
  font-size: 11px;
}

body {
  font-family: variables.$font-family;
}
