/**
* This file load the default theme, for all the components.
*/
@import './variables';
@import './mixins';
@import './components';

[role='button']:not([disabled]),
button:not([disabled]),
a:not([disabled]) {
  cursor: pointer;
}
