/**
* This file load the default theme, for all the components.
*/
@use 'variables';
@use 'mixins';
@use 'components';

[role='button']:not([disabled]),
button:not([disabled]),
a:not([disabled]) {
  cursor: pointer;
}
