@import '../../Globals.scss';
$tm-search-bt-width: 50px;

.tm-search-input {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid $tm-color-grey;

  input,
  button,
  svg {
    border: none;
  }

  input {
    padding: 0px 15px;
    flex-grow: 2;

    &::-ms-clear {
      display: none;
    }
  }

  .tm-button {
    height: 100%;
  }

  .tm-bt-search {
    background-color: $tm-color-grey;
  }

  .tm-hidden {
    display: none;
  }
}
