.tm-permalink-field {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid $gray;
  background-color: white;

  input,
  button,
  svg {
    border: none;
  }

  input {
    flex-grow: 2;
    text-overflow: ellipsis;
    min-width: 0;

    &::-ms-clear {
      display: none;
    }
  }

  div[role='button'] {
    width: $btn-size-base;
    height: 100%;
    flex-shrink: 0;
  }
}
