.tm-permalink-input-example {
  .tm-permalink-field {
    position: relative;
    margin: auto;
    width: 400px;
    height: 30px;

    input {
      padding: 0 0 0 15px;
    }

    div[role='button'] {
      border-left: 1px solid $gray;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $gray-lighter;
      }
    }
  }
}
