.tm-topic-list-example {
  width: 100%;
  height: 400px;
  background: white;
  display: flex;
  overflow: hidden;
  border: 1px solid lightgray;

  .tm-map {
    width: auto;
    height: auto;
    flex-grow: 1;
  }

  .tm-topic-list-arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 0;
    background: transparent;
    width: 5px;
    height: 5px;
  }

  .tm-topic-list-arrow-collapsed {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -3px;
  }

  .tm-topic-list-arrow-expanded {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 3px;
  }

  .tm-topic-list {
    width: 300px;
    padding: 10px;
    border-right: 1px solid lightgray;
    overflow-y: auto;
  }

  .tm-topic-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;

    & > * {
      margin-right: 10px;
      align-items: center;
    }

    div {
      /* HACK: Without this it breaks the click on the label (Chrome) */
      position: relative;
    }

    /* CSS for the toggle div */
    .tm-topic-list-toggle {
      cursor: pointer;
      width: auto;
      height: auto;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: left;

      div:first-child {
        margin-right: 10px;
      }
    }

    .tm-topic-list-input-radio span {
      border-radius: 50%;
    }

    /* Style the checkmark/indicator */
    .tm-topic-list-input-checkbox span::after {
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid $brand-primary;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    /* Style the  (dot/circle) */
    .tm-topic-list-input-radio span::after {
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $brand-primary;
    }
  }
}
