.tm-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  background: white;
  border-bottom: 1px solid #aaa;

  .tm-header-left {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 50%;
  }
}
