.tm-base-layer-toggler {
  position: relative;
  width: 120px;
  height: 120px;
  border: 2px solid lightgray;

  .tm-base-layer-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .tm-footer {
    height: 21px;
    background-color: #fffa;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }

    .tm-base-layer-next {
      float: right;
    }

    .tm-base-layer-previous {
      float: left;
    }
  }
}
