.tm-checkbox {
  span {
    &::after {
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid $brand-primary;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.tm-radio {
  span {
    border-radius: 50%;

    &::after {
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $brand-primary;
    }
  }
}

.tm-checkbox,
.tm-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 18px;
  width: 18px;

  span {
    background-color: white;
    border: 1px solid lightgray;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ span {
    background-color: #ccc;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    display: none;
  }

  input:checked ~ span::after {
    display: block;
  }
}
