.tm-feature-style-example {
  position: relative;

  .tm-feature-style-popup {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    background: white;
    padding: 10px;
    width: 200px;

    > .tm-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .tm-feature-style {
    & > div > * {
      margin: 10px 0;
    }
  }

  .tm-modify-icon-size {
    margin: 20px 0;

    select {
      padding: 10px;
      background: white;
      width: 100%;
    }
  }

  .tm-modify-icons {
    margin: 5px 0;

    div[role='button'] {
      display: inline-block;
      padding: 2px;

      &.tm-selected {
        background-color: lightgray;
      }

      &:hover {
        background-color: gray;
      }
    }
  }
}
