.tm-sidebar {
  position: absolute;
  top: 0;
  background-color: white;
  height: 100%;
  transition: width 300ms;
  width: 0;
  overflow-x: hidden;
}

.tm-sidebar-open {
  width: $sidebar-open-width;
}

.tm-sidebar-left {
  left: 0;
  border-right: 2px solid #eee;
}

.tm-sidebar-right {
  right: 0;
  border-left: 2px solid #eee;
}

.tm-sidebar-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $gray-light;
  opacity: 0;
  transition: opacity 300ms;
}

.tm-sidebar-modal-open {
  opacity: 0.6;
}
