.tm-dialog-example {
  position: relative;
  height: 200px;
  justify-content: center;
  align-items: center;

  .tm-dialog-content {
    padding: 15px;
  }

  .tm-dialog-btn {
    position: absolute;
    bottom: 0;
    margin-right: 15px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
    }
  }
}
