.tm-tabs-item-button {
  &:hover {
    background-color: $gray-lighter;
  }

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
}

.tm-active {
  color: $brand-primary;
  border-bottom: none;
  outline: none;
}
