.tm-colorpicker-example {
  position: relative;
  height: 110px;
  border: 2px solid #eee;
  overflow: hidden;

  .tm-color-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #eee;
  }
}
