.tm-colorpicker-example {
  position: relative;
  height: 110px;
  border: 2px solid #eee;
  overflow: hidden;

  .tm-color-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid #eee;
  }

  .github-picker {
    position: absolute;
    top: 45px;
  }
}
