.rs-feature-export-example {
  .rs-feature-export-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
    }
  }
}
