$tm-color-blue: #003d85;
$tm-color-blue-08: rgba(#003d85, 0.8);
$tm-color-red: #c60018;
$tm-color-sbb-red-hover: #a20013;
$tm-color-sbb-red: #eb0000;
$tm-color-sbb-red-08: rgba(#eb0000, 0.8);
$tm-color-grey: #b7b7b7;
$tm-color-lightgrey: #767676;
$tm-color-darkgrey: #666;
$tm-header-height: 55px;
$tm-station-switcher-height: 325px;
$large-button-size: 50px;
