.tm-layertree {
  display: flex;
  align-items: center;
  padding: 10px;
}

.tm-arrow {
  border: solid lightgray;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0;
  background: transparent;
  width: 10px;
  height: 10px;
}

.tm-arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.tm-arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.tm-layertree > * {
  margin-right: 10px;
  align-items: center;
}

/* Customize the label (the container) */
label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

label,
label input,
label span {
  height: 18px;
  width: 18px;
}

label input,
label span {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

label input {
  display: none;
}

/* Create a custom checkbox */
label span {
  background-color: white;
  border: 1px solid lightgray;
}

.tm-layertree-input-checkbox span {
}

.tm-layertree-input-radio span {
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
label:hover input ~ span {
  background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
label span::after {
  content: '';
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.tm-layertree-input-checkbox span::after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #eb0000;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Style the  (dot/circle) */
.tm-layertree-input-radio span::after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #eb0000;
}

label input:checked ~ span::after {
  display: block;
}
