/* Overwrtie styleguidist styles */

.link-active {
  font-weight: bold !important;
}

header a:hover {
  text-decoration: none;
  color: inherit;
}

#promo {
  position: fixed;
  bottom: 55px;
  background-color: #e90;
  right: -65px;
  transform: rotate(-45deg);
  z-index: 1;
  line-height: 1.2;
}

#promo-text {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 3px 70px;
}

#promo a,
#promo a:hover {
  text-decoration: none;
}

footer {
  position: relative !important;
}
